{% extends "./base.html" %}

<!-- {% block title %} Gestión de Cursos {% endblock %} -->

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="codigo" name="codigo"  class="form-control" value="{{ form.codigo.value }}"
                             maxlength="6" readonly required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="nombre" name="nombre" class="form-control" 
                        value="{{ form.nombre.value }}" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="number" id="horas" name="horas" class="form-control" 
                        value="{{ form.horas.value }}" required>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-success w-100 text-white">Guardar</button>                        
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info w-100 text-white">Cancelar</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}